body {
  margin:20vh;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  background-color:#61dafb;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


