*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    display: flex;
    background: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    padding: 10px;
    width: 100%; 
    box-shadow: 0 0 10px black;

}
main{
 margin-top: 70px;
 margin-bottom: 60px;

}
input{
padding: 5px;

}

.lista-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    
       
}
.video-box{
        width: 350px;
        margin: 10px;
        border: 2px solid black;
        text-align: center;
}
body{
    background: linear-gradient(to right, #dc2424, #4a569d);
}
footer{
    display: flex;
    background: black;
    color: white;
    justify-content: center;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
text-decoration: none;
color: white;
}
h3{

    padding: 7px;
}
img{

    width: 100%;
    object-fit: cover;
    height: 200px;
 }
.controle{
    max-width: 1500px;
    margin: 0 auto;
    background-color: black;
}

 .page-video{
margin-top: 60px;
 }
video{
    width: 80%;
}

 